* {
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist', sans-serif;
    color: white;
    user-select: none;
    background: linear-gradient(89deg, #00c5ff, #8487ff, #00e496);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

table {
    cursor: pointer;
    /* border: 3px solid rgba(255,255,255, 0.5); */
    /* border-collapse: collapse; */
    margin: 0 auto;
    box-shadow: rgba(125, 135, 145, 0.3) 0px 8px 24px;
    /* width: 100%; */
}
th {
    width: 60px;
    height: 60px;
    background-color: rgba(255,255,255, 0.25);
    border: 2px solid rgba(255,255,255, 0.0);
    font-size: 28px;
    margin: 3px;
    
}

th:hover {
    background-color: rgba(255,255,255, 0.9);

}


h1 {
    color: white;
    display: inline-block;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
}



button {
    display: inline-block;
    border: none;
    font-family: 'Urbanist', sans-serif;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: none;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    transition: background 150ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover {
    background: #0053ba;

}

button:focus {
    /* outline: 1px solid #fff; */
    outline-offset: -4px;
}

button:active {
    transform: scale(0.9);
}

form, p {
    display: inline-block;
}
.container {
    text-align: center;
}

.content {
    margin: 0 auto;
}
#turn {
    font-weight: 700;
}

.ghost {
    color: rgba(0, 2, 117, 0.5);
    font-size: 34px;
}


.selected {
    animation: text-pop 0.2s;
    color: white;
}
@keyframes text-pop {
    0% { transform: scale(1.5) }
    100% { transform: scale(1)}
}
.selected:hover {
    background-color: rgba(255,255,255, 0.1);
}



.green {
    background-color: rgb(170, 224, 170);
    animation: color-change 0.5s;
}

.green:hover {
    background-color: rgb(170, 224, 170); 
}
@keyframes color-change {
    0% { transform: scale(1.7) }
    100% { transform: scale(1)}
}

#boardarea {
    display: inline-block;
}

.scoreboard {
    background-color: rgba(255,255,255, 0.1);
    /* width: 40%; */
    margin: 0 auto;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    min-width: 120px;
    box-shadow: rgba(125, 135, 145, 0.2) 0px 4px 12px;

}

.scoreboard p {
    margin-top: 5px;
}

.scoreboard h3 {
    padding-top: 10px;
    margin-top: 0px;
    margin-bottom: 1px;
    font-weight: 100;
}



#edit {
    cursor: pointer;
}




.backdrop {
    backdrop-filter: blur(7px);
    /* backdrop-filter: grayscale(100%); */
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}


.popup {
        position: absolute;
        border-radius: 15px;
        width: 50%;
        height: 50%;        
        top: 20%;
        left: 25%;
        background-color: rgba(255, 255, 255, 0.6);
        text-align: center;
        color: black;
}

.popup h1 {
    color: black;
    display: block;
}

#namesubmit  {
    color: black;
    border: 1px solid black;
}

#reseths {
    color: rgb(138, 136, 136);
    border: 1px solid rgb(139, 139, 139);
    font-size: 12px;
    padding: 2px 4px;;
}

.x {
    padding-right: 12px;
    padding-top: 9px;
    margin-left: 95%;
    color: rgb(253, 121, 121); 
    text-align: right;
    font-size: 25px;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
}

.turn {
    background-color: white;
    color: #008a5a;
    padding: 3px 5px;
    border-radius: 4px;
    margin-top: 4px;
    font-size: 20px;
}